/**
 * CSS rules for 404 error page
 */

.error-wrapper{
    color: #354e5b;
    font-size: 1.5em;
}

.error-code{
    text-align: center;
    color: #e3603f
}

.error-text{
    text-align: center;
    font-size: 1.0em;
}

.error-text a{
    color: blue;
}

.error-text a:visited{
    color: purple;
}

.error-picture{
    text-align: center;
}

.picture-credit{
    font-size: .4em;
    text-align: right;
}

.picture-credit a{
    color: blue;
}

.picture-credit a:visited{
    color: purple;
}

