kbd {
    display: inline-block;

    font-size: 10pt;
    color: rgb(80,80,80);
    text-align: center;

    margin: 5px 5px 6px;
    padding: 5px;

    border-radius: 3px;

    box-sizing: border-box;
    box-shadow:
            0 1px 0 rgb(250, 250, 250),
            0 2px 0 rgb(250, 250, 250),
            0 3px 0 rgb(250, 250, 250),
            0 4px 0 1px rgb(130, 130, 130),
            0 4px 0 2px rgb(70, 70, 70);
    background: rgb(249,249,249);
    background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);
}