{{ define "main" }}
<link rel="stylesheet" href="css/404-page.css"/>

<div class="default-single">
  <div class="ax-content ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Param "maxWidthContent" | default "max-w-680") }}">
      <div class="error-wrapper">
        <h1 class="error-code">{{ (T "e404Title" .) }}</h1>
     
        <span class="error-text">
          {{- $homeLink := printf `<a href="/">%s</a>` (T "e404HomeLink" .) }}
          <p>{{ (T "e404Msg" (dict "dot" . "homeLink" $homeLink)) | safeHTML }}</p>
        </span>
        <picture class="error-picture">
          <img src="404/monster-404-error.png"/>
        </picture>
        <span class="picture-credit">
          <p>Web illustrations by <a href="https://storyset.com/web" target="_blank"> Storyset</a></p>
        </span>

      </div>
    </div>
  </div>
</div>
{{ end }}
